<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <div style="width: 400px; margin: 100px auto; border: 2px solid gray; padding: 1em; border-radius: 0.5em;">
        <h1>Login page</h1>
        <form action="/login" method="POST">
            <label style="display: block; ">
                <span style="display: block;">Email:</span>
                <input type="text" name="email">
            </label>
            <label style="display: block; ">
                <span style="display: block;">Password:</span>
                <input type="text" name="password">
            </label>
            <br>
            <br>
            <button type="submit">Login</button>
        </form>
        <p><a href="/register"> Register</a></p>
    </div>
    </div>
</body>

</html>